<main>
    <h1>Expériences et Projets Professionnels</h1>
    <div>
        <h2>Etudiant @ OpenclassRooms</h2>
        <p class="date">2021-2022</p>
        <p class="text">Conception de sites web, d'API et de bases de données (parties front-end et back-end via html5, css3, sass, nodeJS, JS, mySQL, mongoDB et Angular).</p>
    </div>
    
    <div>
        <h2>Ludothécaire @ Association Ludolieusaint</h2>
        <p class="date">2019-2021</p>
        <p class="text">Animation, gestion du stock de jeux, explication de jeux, création d'animations, accueil de la clientèle, tâches administratives, création d'un magazine.</p>
    </div>
    
    <div>
        <h2>Technicien en Cafétéria @ Mediterranéa de catering (Espagne)</h2>
        <p class="date">2018-2019</p>
        <p class="text">Technicien en cafétéria d'hôpital, aide de la diététicienne à l'élaboration des menus.</p>
    </div>

    <div>
        <h2>Apprenti Responsable Qualité @ Sodexo</h2>
        <p class="date">2016-2017</p>
        <p class="text">Audits hygiène en restauration collective sur l'Île de France, l'Est et le Nord, formation des équipes aux bonnes pratiques d'hygiène et à la nutrition.</p>
    </div>
</main>
