<main>
    <h1>Portfolio</h1>
    <div>
        <h2>Sites Vitrine</h2>
        <ul class="text">
            <li><a href="https://mpicat.github.io/Forcesspe/FS.html" target="_blank"><i class="fa-brands fa-firefox"></i> Site sur les Forces Spéciales Canadiennes</a></li>
            <li><a href="https://mpicat.github.io/P2_picat_maxime/" target="_blank"><i class="fa-brands fa-firefox"></i> Site de Réservation d'Hôtels (études)</a></li>
            <li><a href="https://mpicat.github.io/Picatmaxime_3_15012022/" target="_blank"><i class="fa-brands fa-firefox"></i> Site de Réservation de Repas (études)</a></li>
            <li><a href="https://mpicat.github.io/P4_PICAT_Maxime-website_modif/" target="_blank"><i class="fa-brands fa-firefox"></i> Site de Web Design accessible (études)</a></li>
            <li><a href="https://mpicat.github.io/tricotMaman/" target="_blank"><i class="fa-brands fa-firefox"></i> Site de Tricoteuse</a></li>
            <li><a href="https://github.com/mpicat/P7_picat_maxime" target="_blank"><i class="fa-brands fa-firefox"></i> Réseau Social (études)</a></li>
            <li><a href="https://mpicat.github.io/corinne-reikiv2/" target="_blank"><i class="fa-brands fa-firefox"></i> Site de Méthodes de Détente Naturelles</a></li>
            <li><a href="https://mpicat.github.io/CV/" target="_blank"><i class="fa-brands fa-firefox"></i> Précédent CV</a></li>
        </ul>
    </div>
    
    <div>
        <h2>Jeu dont vous êtes le héros</h2>
        <ul class="text">
            <li><a href="https://mpicat.github.io/heroBook/heroBookaccueil.html" target="_blank"><i class="fa-brands fa-firefox"></i> Site de jeu dont vous êtes le héros</a></li>
        </ul>
    </div>
</main>
