<main>
    <h1>Compétences</h1>
    <div>
        <h2>Compétences Techniques</h2>
        <p class="title">Front End</p>
        <ul class="text">
            <li><i class="fa-solid fa-gear"></i> Maîtrise de HTML 5</li>
            <li><i class="fa-solid fa-gear"></i> Maîtrise de CSS 3 et SASS</li>
            <li><i class="fa-solid fa-gear"></i> Connaissances en Javascript ES6 et Angular</li>
            <li><i class="fa-solid fa-gear"></i> Connaissances des normes d'accessibilité et référencement du W3C</li>
            <li><i class="fa-solid fa-gear"></i> Connaissances en Wordpress et Elementor</li>
        </ul>
        <p class="title">Back End</p>
        <ul class="text">
            <li><i class="fa-solid fa-gear"></i> Connaissances en NodeJS, mySQL, MongoDB</li>
        </ul>
        <p class="title">Bureautique</p>
        <ul class="text">
            <li><i class="fa-solid fa-gear"></i> Connaissances en GitHub</li>
            <li><i class="fa-solid fa-gear"></i> Maîtrise de Word, Excel, Powerpoint, Canva</li>
        </ul>
        <p class="title">Langues</p>
        <ul class="text">
            <li><i class="fa-solid fa-gear"></i> Anglais (lu, écrit et parlé)</li>
            <li><i class="fa-solid fa-gear"></i> Espagnol (lu et parlé)</li>
        </ul>
    </div>
    
    <div>
        <h2>Qualités Humaines</h2>
        <ul class="text">
            <li><i class="fa-solid fa-face-laugh-beam"></i> Logique</li>
            <li><i class="fa-solid fa-face-laugh-beam"></i> Autonomie</li>
            <li><i class="fa-solid fa-face-laugh-beam"></i> Créativité</li>
            <li><i class="fa-solid fa-face-laugh-beam"></i> Organisation</li>
            <li><i class="fa-solid fa-face-laugh-beam"></i> Coopération</li>
        </ul>
    </div>
</main>
