<main>
    <h1>Formations</h1>
    <div>
        <h2>Formation de Web Développeur @ OpenclassRooms</h2>
        <p class="date">2022 (Diplôme RNCP de niveau 5)</p>
        <p class="text">Création de pages web dynamiques, d'API, gestion de base de données, amélioration du référencement et de l'accessibilité.</p>
    </div>
    
    <div>
        <h2>Licence Professionnelle Sécurité Alimentaire @ ISFFEL</h2>
        <p class="date">2017 (Diplôme RNCP de niveau 6)</p>
        <p class="text"></p>
    </div>
    
    <div>
        <h2>BTS diététique @ Cours Diderot</h2>
        <p class="date">2015 (Diplôme RNCP de niveau 5)</p>
        <p class="text"></p>
    </div>
</main>
