<nav>
    <ul>
        <li><a routerLink="" aria-label="Accueil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-house"></i></a></li>
        <li><a routerLink="competences" aria-label="Compétences" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-gear"></i></a></li>
        <li><a routerLink="portfolio" aria-label="Portfolio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-suitcase"></i></a></li>
        <li><a routerLink="experiences" aria-label="Expériences" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-person-digging"></i></a></li>
        <li><a routerLink="formations" aria-label="Formations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-graduation-cap"></i></a></li>
        <li><a routerLink="passe-temps" aria-label="Passe-temps" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-face-laugh"></i></a></li>
        <li><a href="./assets/CV_Picat_Maxime.pdf" aria-label="CV pdf"><i class="fa-solid fa-download"></i></a></li>
    </ul>
</nav>
