<div>
    <img src="./assets/Picat_Maxime_Pic.jpg" alt="Photo de Maxime PICAT">
    <h1>Maxime Picat</h1>
    <h2>Développeur Web</h2>
    <p>Ayant créé mon propre site internet pour lancer mon auto-entreprise de diététique, je me suis peu à peu intéressé puis passionné par le domaine du développement informatique jusqu'à finalement me former en décembre 2021.</p>
    <p>Les technologies que j'utilise fréquemment pour mes projets personnels sont :</p>
    <ul class="main-list">
        <li>
            <ul>
                <li>Angular</li>
                <li>Html 5</li>
                <li>Sass</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>Javascript (ES6+)</li>
                <li>Github</li>
                <li>Node.js</li>
            </ul>
        </li>
    </ul>
</div>
