<main>
    <h1>Passe-temps</h1>
    <div>
        <h2>Activité Physique</h2>
        <ul class="text">
            <li><i class="fa-solid fa-face-smile"></i> Musculation</li>
            <li><i class="fa-solid fa-face-smile"></i> Jogging</li>
            <li><i class="fa-solid fa-face-smile"></i> Basket-ball</li>
        </ul>

        <h2>Diététique</h2>
        <ul class="text">
            <li><i class="fa-solid fa-face-smile"></i> Lecture de livres et articles de diététique</li>
            <li><i class="fa-solid fa-face-smile"></i> Cuisine</li>
        </ul>
        
        <h2>Multimédia</h2>
        <ul class="text">
            <li><i class="fa-solid fa-face-smile"></i> Cinéma (films préférés : Forrest Gump, The Truman show, Drive)</li>
            <li><i class="fa-solid fa-face-smile"></i> Jeux de société (jeu et création de jeux de plateau et de cartes)</li>
        </ul>
        
        <h2>Voyage</h2>
        <ul class="text">
            <li><i class="fa-solid fa-face-smile"></i> Espagne, Belgique, Etats-Unis, Irlande, Islande, Tunisie, République Tchèque, Angleterre, Allemagne, Pays-Bas</li>
        </ul>
    </div>
</main>

